html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #0f0f11;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container_alpha {
    margin-top: 2vh;
    width: 95%;
    height: 10vh;
    border: 1px solid #E5C185;
    border-radius: 3px;
    background-color: #161618;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.title {
    margin-left: 2vw;
    font-size: 8vh;
    font-family: "Grenze Gotisch", serif;
    font-style: oblique;
    color: #E5C185;
}

.search {
    margin-left: auto;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    gap: 0.25vw;
}

.search input {
    color: #ffffff;
    background: #222225;
    font-size: 2vh;
    font-style: oblique;
    border: transparent;
    border-radius: 5px;
    height: 3vh;
    width: 13vw;
}

.search input:focus::placeholder {
    opacity: 1;
    transition: 0.3s ease-in-out;
    color: #C5A880;
    border: none;
}

.search button {
    width: 3vh;
    padding: 0;
    background: #C5A880;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}


.map {
    margin-right: 7vw;
    max-width: 3vh;
    max-height: 3vh;
    object-fit: contain;
    filter: invert(100%);
}

.auth {
    margin-right: 2vw;
    font-size: 3vh;
    font-family: "Grenze Gotisch", serif;
    font-style: oblique;
    color: #C5A880;
}

.auth:hover {
    color: #E5C185;
}

.container_bd {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_beta {
    width: 50%;
}

.container_beta img {
    margin-top: 10vh;
    margin-left: 3vw;
    height: 100%;
    width: 100%;
    filter: invert(100%);
}

.container_delta {

    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.o_title {
    color: #E5C185;
    margin-top: 2vh;
    font-size: 30px;
    font-style: oblique;
    font-family: "Grenze Gotisch", serif;
}

.o_description {
    font-family: "Instrument Serif", serif;
    font-size: 20px;
    font-style: italic;
    color: #C5A880;
}


.book {
    color: #E5C185;
    font-size: 1.5vh;
    font-family: "Grenze Gotisch", serif;
    height: 2.5vh;
    width: 6vw;
    margin-top: 20vh;
    margin-left: 35vw;
    border: transparent;
    border-radius: 3px;
    background: #801A24;
}

.book:hover {
    background: #9C222E;
    filter: drop-shadow(0 0 5px #E5C185);
    transition: 0.5s ease-in-out;
}