html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #f2efdf;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
    overflow: hidden;
}


.infor{
    list-style:none;
    gap:100px;
}