html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #f2efdf;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}



.main {
    margin-top: 10vh;
}

.main input {
    height: 5vh;
    width: 70vw;
}

.main button {
    height: 5vh;
    width: 7vw;
}


.container_A {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_A1 {
    margin-top: 10vh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3vw;
    margin-bottom: 70px;
}

.container_A1_content {
    width: 70%;
    border: 3px solid black;
}

.container_A1_filter {
    width: 20%;
    border: 3px solid black;
    background: skyblue;
}

.filter_title {
    margin-left: 20px;
    font-size: 30px;
    font-style: oblique;
}


.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}


.s_bar {
    width: 90%;
}

.interval {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.general_filter_box {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 2vh;
}

.general_filter_box p {
    width: 70%;
    font-size: 20px;
    font-style: oblique;
}

.general_filter_box input {

    height: 3vh;
    width: 3vh;
    border: none;
}